body {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  background-color: rgb(243, 198, 198);
}

h1 {
  text-align: center;
  background-color: rgb(253, 184, 184);
  font-family: monospace;
  font-weight: bold;
}
#cabecalho {
  display: flex;
  justify-content: center;
}

#cell {
  border: double 2px rgb(250, 69, 69);
  display: inline-block;
  background-color: rgb(253, 184, 184);
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 2px;
  text-align: center;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
#geral {
  display: none;
  margin: 70px auto;
  padding: 20px;
  max-width: 1200px;
  width: 100vw;
  border-radius: 8px;
  border: 1px solid rgba(14, 240, 153, 0.3);
  background: rgba(150, 211, 70, 0.2);
  margin-bottom: 2rem;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
button {
  color: #ffffff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #66a2f1;
  background: -webkit-linear-gradient(to right, #2193b0, #66a2f1);
  background: linear-gradient(to right, #2193b0, #66a2f1);
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  border-radius: 5px;
}
